body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: 13px;
  padding: 2em;
  background-color: mix(#ECEFF1, #FFF, 0.25);
}

.application {
  display: flex;
}

.connection-status + .uptime-clock {
  margin-left: 1em;
}

.connection-status {
  border: 1px #E0E0E0 solid;
  padding: 1em 1.25em;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.connection-status__label {
  color: #263238;
  margin-right: 1em;
}

@mixin connection-status__indicator {
  border-radius: 3px;
  padding: 0.5em 1em;
  color: #FFF;
  background-blend-mode: overlay;
  background-image: linear-gradient(rgba(#FFF, 0.1), rgba(#000, 0.1));
  font-weight: 600;
}

.connection-status__indicator {
  @include connection-status__indicator();
}

.connection-status__indicator--online {
  @include connection-status__indicator();
  background-color: #00C853;
}

.connection-status__indicator--offline {
  @include connection-status__indicator();
  background-color: #DD2C00;
}

.uptime-clock {
  border: 1px #E0E0E0 solid;
  border-radius: 3px;
  padding: 1em 1.25em;
  display: flex;
  align-items: center;
}

.uptime-clock__label {
  color: #263238;
  margin-right: 1em;
}

@mixin uptime-clock__unit {
  background-color: #263238;
  border-radius: 3px;
  color: #FFF;
  padding: 0.5em;
  display: inline-block;
  background-blend-mode: overlay;
  background-image: linear-gradient(rgba(#FFF, 0.1), rgba(#000, 0.1));
  font-weight: 600;
}

.uptime-clock__unit--seconds {
  @include uptime-clock__unit();
  margin-left: 0.5em;
}

.uptime-clock__unit--minutes {
  @include uptime-clock__unit();
  margin-left: 0.5em;
}

.uptime-clock__unit--hours {
  @include uptime-clock__unit();
}
