<div class="connection-status">
  <label class="connection-status__label">Connection status</label>

  {{#if connected}}
    <span class="connection-status__indicator--online">✔ Online</span>
  {{else}}
    <span class="connection-status__indicator--offline">✘ Offline</span>
  {{/if}}
</div>
