<div class="uptime-clock">
  <label class="uptime-clock__label">Uptime</label>
  <span class="uptime-clock__unit--hours">{{formattedHours}}</span>
  <span class="uptime-clock__unit--minutes">{{formattedMinutes}}</span>
  <span class="uptime-clock__unit--seconds">{{formattedSeconds}}</span>
</div>
